@import url("../vars.css");
header {
    display: flex;
    padding: 20px 50px 20px 50px;
    height: 5vh;
    background-color: #292929;
    color: white;
    font-weight: bold;
    .leftHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 5vh;
    }
    .rightHeader {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 60%;
        height: 5vh;
    }
    a {
        text-decoration: none;
        color: white;
    }
    li {
        display: inline;
        color: white;
        padding: 15px;
        input {
            display: none;
            height: 3vh;
            width: 15vw;
            border-radius: 0.3em;
            font-size: 1em;
        }
    }
}

.navtekst {
    a {
        padding: 20px;
    }
    a:hover {
        background-color: #E17F00;
        border-radius: 10px 10px 10px 10px;
    }
}

.navicons a:hover {
    color: #E17F00;
}