@import url("../vars.css");
header {
    display: flex;
    padding: 25px 50px 25px 50px;
    height: 5vh;
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-100);
    font-weight: bold;
    .leftHeader {
        display: flex;
        align-items: center;
        width: 60%;
        height: 5vh;
    }
    .rightHeader {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 60%;
        height: 5vh;
    }
    a {
        text-decoration: none;
        color: var(--clr-neutral-100);
    }
    li {
        display: inline;
        color: var(--clr-neutral-100);
        padding: 15px;
        input {
            display: none;
            height: 3vh;
            width: 15vw;
            border-radius: 0.3em;
            font-size: 1em;
        }
    }
}

.navtekst {
    margin-left: 110px;
    a {
        padding: 10px;
    }
    a:hover {
        background-color: var(--clr-accent-400);
        border-radius: 5px;
    }
}

.navicons {
    font-size: 0.75rem;
}

i {
    position: relative;
}

.navicons i:hover {
    cursor: pointer;
    color: var(--clr-accent-400);
}

.accountHover {
    background-color: black;
    position: absolute;
    bottom: -30px;
    p {
        font-weight: normal;
        font-size: 1rem;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}