@import url("../vars.css");
header {
    display: flex;
    padding: 25px 50px 25px 50px;
    height: 5vh;
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-100);
    font-weight: bold;
    .leftHeader {
        display: flex;
        align-items: center;
        width: 60%;
        height: 5vh;
    }
    .rightHeader {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 60%;
        height: 5vh;
    }
    .navicons {
        font-size: 0.75rem;
        height: 100%;
        display: flex;
        align-items: center;
        li {
            // position: absolute;
            .new::after {    
                content: '';
                position: absolute;
                top: -2px;
                right: -2px;
                display: block;
                border-radius: 50%;
                background-color: var(--clr-accent-500);
                width: 10px;
                aspect-ratio: 1.0;
            }
            &:hover {
                cursor: pointer;
                color: var(--clr-accent-400);
            }
        }
    }
    a {
        margin-bottom: 0;
        text-decoration: none;
        color: var(--clr-neutral-100);
    }
    li {
        display: inline;
        color: var(--clr-neutral-100);
        padding: 0 15px;
        form {
            display: inline;
        }
        .input {
            height: 4vh;
            width: 15vw;
            border-radius: 0.3em;
            font-size: 1em;
            border: none;
            padding: 0 5px;
        }
        .btn {
            background-color: var(--clr-accent-400);
            color: var(--clr-neutral-100);
            border: none;
            padding: 0 5px;
            height: 4vh;
            width: 3vw;
            border-radius: 0.3em;
            font-size: 1em;
            margin-left: 5px;
        }
        i {
            position: relative;
        }
    }
}

.navtekst {
    margin-left: 120px;
    a {
        padding: 10px;
    }
    a:hover, li:first-child a {
        background-color: var(--clr-accent-400);
        border-radius: 5px;
        text-decoration: none;
    }
    li:first-child a:hover {
        background-color: unset;
        padding: 7px;
        border: 3px solid var(--clr-accent-400);
    }
}

.overlayHover {
    z-index: 1;
    background-color: var(--clr-neutral-800);
    position: absolute;
    top: 30px;
    right: -10px;
    padding: .75rem .5rem;
    box-shadow: 0 5px 10px 0 black;
    h1,
    h2,
    p,
    a {
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
        &:hover {
            color: var(--clr-neutral-100);
            text-decoration: underline;
        }
    }
}

.notificationHover {
    display: none;
    &.show {
        display: block;
    }
    min-width: 400px;
    max-width: 600px;
    min-height: fit-content;
    max-height: 500px;
    overflow-y: scroll;
    top: 30px;
    right: -50px;
    cursor: default;
    .notification {
        display: flex;
        width: fit-content;
        margin: 0 10px;
        padding: 20px 10px;
        &:not(:first-child) {
            margin: 10px;
            border-top: 1px solid var(--clr-accent-400);
        }
        p {
            font-size: .8rem;
            &:hover {
                text-decoration: none;
            }
        }
        .profile {
            text-align: center;
            align-self: center;
            width: 70px;
            img {
                width: 30px;
                aspect-ratio: 1.0;
            }
            .profile__name {
                width: inherit;
                word-break: break-all;
            }
        }
        .content {
            width: 100%;
            margin: 0 20px;
            .type {
                a {
                    font-size: .9rem;
                    color: var(--clr-accent-300);
                    width: max-content;
                }
                margin-bottom: 10px;
                p {
                    color: var(--clr-neutral-400);
                    font-style: italic;
                }
            }    
        }
        .time {
            width: fit-content;
            align-self: end;
            p {
                width: max-content;
                color: var(--clr-neutral-400);
                font-size: .8rem;
            }
        }
    }
}

.accountHover {
    right: -40px;
    a {
        width: calc(100% - 2rem);
        padding: .75rem 1rem;
        border-radius: 5px;
        text-align: center;
        &:hover {
            background-color: var(--clr-accent-400);
            color: var(--clr-neutral-100);
            text-decoration: none;
        }
    }
}