@import url("../vars.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-neutral-800);
  color: #DADADA;
}

.question__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.question__info .question__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.question__info .question__tags .tag {
  background-color: var(--clr-neutral-500);
  color: var(--clr-accent-350);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 10px 0 0;
}

.question__info .question__ask-date {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.question__info .question__ask-date p {
  margin: 0;
  padding: 5px 0;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile img {
  width: 64px;
  aspect-ratio: 1.0;
}

.questions__wrapper,
.specific__question {
  font-size: .9rem;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

.questions__wrapper::-webkit-scrollbar,
.specific__question::-webkit-scrollbar {
  display: none;
}

.questions__wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin-top: 20px;
}

.questions__wrapper .question {
  min-width: inherit;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #7d7d7d;
}

.questions__wrapper .question .question__title {
  font-size: .8rem;
}

.questions__wrapper .question .question__title a {
  color: var(--clr-accent-300) !important;
}

.questions__wrapper .question .question__title a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.questions__wrapper .question .question__title a h2 {
  color: inherit;
}

.specific__question {
  width: 60%;
}

.specific__question .question__head {
  padding: 20px;
  border-bottom: 1px solid #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specific__question .question__head .main__info {
  width: 80%;
}

.specific__question .question__head .main__info .question__title {
  font-weight: 700;
}

.specific__question .question__head .main__info .question__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.specific__question .question__head .main__info .question__info .question__tags {
  margin-left: 10%;
}

.specific__question .question__head i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2rem;
}

.specific__question .question__head i:hover {
  color: var(--clr-accent-400);
  cursor: pointer;
}

.specific__question .question__content {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specific__question .question__content .question__main {
  width: 80%;
  margin: 0 auto;
}

.specific__question .question__content .question__main code {
  margin: 15px 0;
  border-radius: 10px;
  background-color: var(--clr-neutral-600);
}

.comments {
  border-top: 1px solid #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20px;
}

.comments .comment__content {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments .profile {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments .card {
  width: 40%;
  margin-right: 15px;
}

.comments .card img,
.comments .card video {
  width: 100%;
  height: 100%;
}

.comments .card video {
  display: none;
  pointer-events: none;
}

form {
  border-top: 1px solid #7d7d7d;
}

form .form__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

form .form__container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .form__container .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

form .form__container .top input:not(input[type="button"]),
form .form__container .top textarea {
  border: 2px solid var(--clr-neutral-200);
  background-color: var(--clr-neutral-700);
  padding: 0.8rem;
  color: var(--clr-neutral-200);
}

form .form__container .top input:not(input[type="button"])::-webkit-input-placeholder,
form .form__container .top textarea::-webkit-input-placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

form .form__container .top input:not(input[type="button"]):-ms-input-placeholder,
form .form__container .top textarea:-ms-input-placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

form .form__container .top input:not(input[type="button"])::-ms-input-placeholder,
form .form__container .top textarea::-ms-input-placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

form .form__container .top input:not(input[type="button"])::placeholder,
form .form__container .top textarea::placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

form .form__container .top textarea {
  resize: none;
  margin-top: 20px;
  height: 150px;
}

form .form__container .top .file {
  margin-left: 10px;
  width: 100%;
  border: 2px solid var(--clr-neutral-200);
  background-color: var(--clr-neutral-700);
  padding: 0.8rem;
  color: var(--clr-neutral-200);
}

form .form__container input[type="submit"] {
  margin-top: 20px;
  padding: 10px 50px;
}

form .form__container input[type="button"] {
  padding: 10px 20px;
  margin-right: 10px;
}

form .form__container input[type="submit"],
form .form__container input[type="button"] {
  background-color: var(--clr-accent-400);
  border: none;
  color: var(--clr-neutral-100);
  border-radius: 10px;
}

form .form__container input[type="submit"]:hover,
form .form__container input[type="button"]:hover {
  opacity: .8;
  cursor: pointer;
}

form .form__container input:focus,
form .form__container textarea:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */