@import url("../vars.css");
.videoReply {
  border-top: 1px solid #7d7d7d;
  padding: 20px;
}

.videoReply .nocomments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoReply .nocomments > * {
  margin: 0 10px;
}

.videoReply .btn {
  background-color: var(--clr-accent-400);
  padding: 10px 20px;
  border: none;
  color: var(--clr-neutral-100);
  border-radius: 10px;
}

.videoReply .btn:hover {
  opacity: .8;
  cursor: pointer;
}

.videoReply .answerQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

.videoReply .answerQuestion .video-select-option {
  margin: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.videoReply .answerQuestion a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.videoReply form.URLForm {
  width: 50%;
  margin-right: 20px;
}

.videoReply form.URLForm .form-seperate {
  margin: 10px 0;
  width: 100%;
}

.videoReply form.URLForm .file, .videoReply form.URLForm input[type="url"], .videoReply form.URLForm textarea {
  background-color: var(--clr-neutral-600);
  padding: 10px 10px 10px 0;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}

.videoReply form.URLForm input[type="url"] {
  width: inherit;
}

.videoReply form.URLForm input[type="url"], .videoReply form.URLForm textarea {
  outline: none;
  caret-color: var(--clr-neutral-100);
  padding: 10px;
}

.videoReply form.URLForm input[type="url"]::-webkit-input-placeholder, .videoReply form.URLForm textarea::-webkit-input-placeholder {
  color: var(--clr-neutral-200) !important;
  font-size: .8rem;
}

.videoReply form.URLForm input[type="url"]:-ms-input-placeholder, .videoReply form.URLForm textarea:-ms-input-placeholder {
  color: var(--clr-neutral-200) !important;
  font-size: .8rem;
}

.videoReply form.URLForm input[type="url"]::-ms-input-placeholder, .videoReply form.URLForm textarea::-ms-input-placeholder {
  color: var(--clr-neutral-200) !important;
  font-size: .8rem;
}

.videoReply form.URLForm input[type="url"]::placeholder, .videoReply form.URLForm textarea::placeholder {
  color: var(--clr-neutral-200) !important;
  font-size: .8rem;
}

.videoReply form.URLForm textarea {
  resize: none;
  margin-top: 10px;
  width: inherit;
  height: 150px;
}

.videoReply form.URLForm .url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.videoReply form.URLForm span {
  padding: 10px 20px;
  background-color: var(--clr-accent-400);
  border-radius: 10px;
}

.videoReply form.URLForm span:hover {
  background-color: var(--clr-accent-401);
  cursor: pointer;
}

.videoReply form.uploadForm {
  border-top: 1px solid #7d7d7d;
}

.videoReply form.uploadForm .form__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.videoReply form.uploadForm .form__container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoReply form.uploadForm .form__container .top .left, .videoReply form.uploadForm .form__container .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.videoReply form.uploadForm .form__container .top input:not(input[type="button"]),
.videoReply form.uploadForm .form__container .top textarea {
  border: 2px solid var(--clr-neutral-200);
  background-color: var(--clr-neutral-700);
  padding: 0.8rem;
  color: var(--clr-neutral-200);
}

.videoReply form.uploadForm .form__container .top input:not(input[type="button"])::-webkit-input-placeholder,
.videoReply form.uploadForm .form__container .top textarea::-webkit-input-placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

.videoReply form.uploadForm .form__container .top input:not(input[type="button"]):-ms-input-placeholder,
.videoReply form.uploadForm .form__container .top textarea:-ms-input-placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

.videoReply form.uploadForm .form__container .top input:not(input[type="button"])::-ms-input-placeholder,
.videoReply form.uploadForm .form__container .top textarea::-ms-input-placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

.videoReply form.uploadForm .form__container .top input:not(input[type="button"])::placeholder,
.videoReply form.uploadForm .form__container .top textarea::placeholder {
  color: var(--clr-neutral-100);
  opacity: 1;
}

.videoReply form.uploadForm .form__container .top textarea {
  resize: none;
  margin-top: 20px;
  height: 150px;
}

.videoReply form.uploadForm .form__container .top .file {
  margin-left: 10px;
  width: 100%;
  border: 2px solid var(--clr-neutral-200);
  background-color: var(--clr-neutral-700);
  padding: 0.8rem;
  color: var(--clr-neutral-200);
  height: 100%;
}

.videoReply form.uploadForm .form__container .top .file:first-child {
  margin-bottom: 20px;
}

.videoReply form.uploadForm .form__container input[type="submit"] {
  margin-top: 20px;
  padding: 10px 50px;
}

.videoReply form.uploadForm .form__container input[type="button"] {
  padding: 10px 20px;
  margin-right: 10px;
}

.videoReply form.uploadForm .form__container input[type="submit"],
.videoReply form.uploadForm .form__container input[type="button"] {
  background-color: var(--clr-accent-400);
  border: none;
  color: var(--clr-neutral-100);
  border-radius: 10px;
}

.videoReply form.uploadForm .form__container input[type="submit"]:hover,
.videoReply form.uploadForm .form__container input[type="button"]:hover {
  opacity: .8;
  cursor: pointer;
}

.videoReply form.uploadForm .form__container input:focus,
.videoReply form.uploadForm .form__container textarea:focus {
  outline: none;
}
/*# sourceMappingURL=videoReply.css.map */