@import url("vars.css");
body {
    font-family: Arial, "Helvetica", sans-serif;
    background-image: url(../img/background.png);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.slogan {
    color: var(--clr-neutral-100);
    margin-left: 125px;
    h1,
    h2 {
        margin-bottom: 0.5rem;
    }
    h2 {
        font-size: 21px;
        font-weight: normal;
    }
}

// #membership {
//     background-color: #E17F00;
//     color: #f8f8f8;
//     margin-top: 25px;
//     height: 45px;
//     width: 280px;
//     border-radius: 4px;
//     border: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }
// #signIn {
//     background-color: #E17F00;
//     color: #f8f8f8;
//     height: 45px;
//     width: 153px;
//     border-radius: 4px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-decoration: none;
//     border: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }
// .header {
//     margin: 51px 125px;
//     display: flex;
//     justify-content: space-between;
// }
.btnRight {
    position: absolute;
    right: 125px;
    top: 51px;
}