body {
    background-image: url(../img/background.png);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#logo {
    margin-top: 51px;
    margin-left: 125px;
}

#feature {
    font-family: Arial, "Helvetica", sans-serif;
    color: #f8f8f8;
    width: 604px;
    height: 197px;
    margin-left: 125px;
    margin-top: 1px;
    margin-right: 1191px;
    margin-bottom: 440px;
}

#h1 {
    margin-bottom: 11px;
}

h1,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 21px;
}

#h2 {
    padding-top: 0px;
    font-weight: normal;
}

#membership {
    background-color: #E17F00;
    color: #f8f8f8;
    margin-top: 25px;
    height: 45px;
    width: 280px;
    border-radius: 4px;
    border: none;
}

#signIn {
    background-color: #E17F00;
    color: #f8f8f8;
    height: 45px;
    width: 153px;
    border-radius: 4px;
    border: none;
}

#header {
    margin: 51px 125px;
    display: flex;
    justify-content: space-between;
}