@import url("vars.css");
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

// TEKST OPMAAK
.flex {
    display: flex;
}

a {
    display: inline-block;
    color: var(--clr-neutral-100);
    text-decoration: none;
}

h1,
h2,
h3,
p,
a {
    color: var(--clr-neutral-100);
    margin-bottom: 0.5rem;
}

.underline {
    text-decoration: underline;
}

// ALIGNMENT
.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centervertical {
    display: flex;
    align-items: center;
}

// WEBSITE STYLING
.background {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);
}

.fullPageContent {
    width: 100vw;
    height: calc(95vh - 50px);
    background-color: var(--clr-neutral-800);
}

.page {
    display: flex;
    height: calc(100% - 5vh - 50px);
}

.pageContent {
    width: calc(100% - 244px - 4rem);
    height: 100%;
    background-color: var(--clr-neutral-800);
}

.logo {
    position: absolute;
    width: 225px;
    left: 125px;
    top: 51px;
}

.button {
    display: inline-block;
    background-color: var(--clr-accent-400);
    margin-top: 0.5rem;
    margin-bottom: 15px;
    border: none;
    color: var(--clr-neutral-100);
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 0.85rem;
    width: max-content;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.errortext {
    color: var(--clr-accent-500);
    margin-top: 5px;
    font-size: 0.75rem;
    display: none;
}