.videoContainer {
  width: calc(100% - 50px);
  height: calc(100% - 205px);
  padding: 25px;
}

.videoContainer > a {
  margin-top: 0;
  position: relative;
}

.videoContainer > a .hoverCross {
  position: absolute;
  font-size: 1.2rem;
  right: 20px;
  top: 0;
  bottom: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto 0;
  display: none;
}

.videoContainer > a:hover .hoverCross {
  display: block;
}

.vidRow {
  width: 100%;
  height: 200px;
  background-color: var(--clr-neutral-500);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

h2 {
  color: var(--clr-neutral-100);
}

.vidHolder {
  margin: 15px;
  height: calc(85% - 30px);
  aspect-ratio: calc(16/9);
  background-color: var(--clr-neutral-700);
  position: relative;
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.vidHolder .vidInfoHolder {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -35px;
}

.vidHolder .vidInfoHolder p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  white-space: nowrap;
}

.vidHolder .vidInfoHolder .otherInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vidHolder .vidInfoHolder .otherInfo p {
  font-size: 0.75rem;
  color: var(--clr-neutral-400);
  width: 50%;
}

.vidHolder .vidInfoHolder .otherInfo p:nth-child(2) {
  text-align: right;
}

.vidHolder .overflowHidden {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.vidHolder .overflowHidden video {
  width: 100%;
}

.vidHolder .overflowHidden .vidHover {
  display: none;
  width: 100%;
}

.vidHolder .overflowHidden .vidHover .vidHoverBot {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 0.75rem;
  text-align: right;
}

.vidHolder:hover .title {
  text-decoration: underline;
}

.vidHolder:hover .vidHover {
  display: block;
}

.largeVideoContainer {
  width: calc(100% - 200px);
  height: calc(100% - 130px);
  padding: 65px 100px;
  overflow-y: scroll;
}

.largeVideoContainer .titleObj {
  padding-bottom: .25rem;
  border-bottom: 2px solid var(--clr-neutral-500);
}

.largeVideoContainer .videoHolder {
  width: 100%;
  margin-top: 25px;
  border-bottom: 2px solid var(--clr-neutral-500);
}

.largeVideoContainer .videoHolder video {
  width: 70%;
  aspect-ratio: calc(16/9);
  margin-bottom: 1rem;
}

.largeVideoContainer .videoHolder .infoHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-bottom: 1rem;
}

.largeVideoContainer .videoHolder .infoHolder .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.largeVideoContainer .videoHolder .infoHolder .likes * {
  margin-left: .25rem;
}

.largeVideoContainer .questionLink {
  margin-top: 1rem;
  margin-bottom: .75rem;
  padding-bottom: 0.5em;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid var(--clr-neutral-500);
}

.largeVideoContainer p,
.largeVideoContainer label {
  color: var(--clr-neutral-400);
  text-overflow: ellipsis;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.largeVideoContainer p span,
.largeVideoContainer label span {
  color: var(--clr-neutral-100);
}

.largeVideoContainer a {
  color: var(--clr-accent-350);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.largeVideoContainer .commentContainer h3 {
  margin-bottom: .75rem;
}

.largeVideoContainer .commentContainer .postComment {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 1.5rem;
}

.largeVideoContainer .commentContainer .postComment form {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid darkgray;
}

.largeVideoContainer .commentContainer .postComment form input {
  height: 60%;
  width: 100%;
  padding: .5em;
  background-color: transparent;
  color: white;
  border: none;
}

.largeVideoContainer .commentContainer .postComment form .send {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
}

.largeVideoContainer .commentContainer .postComment .commentError {
  display: none;
}

.largeVideoContainer .commentContainer .comment {
  margin-bottom: .5rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.largeVideoContainer .commentContainer .comment .commentText {
  margin-top: 5px;
}

.largeVideoContainer .commentContainer .comment .commentText .username {
  margin-bottom: .25rem;
}

.largeVideoContainer .commentContainer .comment .commentText .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.largeVideoContainer .commentContainer .comment .commentText .likes a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.largeVideoContainer .commentContainer .pfp {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 1.5ch;
}
/*# sourceMappingURL=main.css.map */